Declaring tuple

In [4]:
_tuple = (1, 2, 3)
_tuple

(1, 2, 3)

In [6]:
_tuple = 1, 2, 3  # with or without parentheses
_tuple

(1, 2, 3)

In [8]:
_tuple = tuple([1, 2, 3])
_tuple

(1, 2, 3)

String is also iterable

In [10]:
string = "string"
_tuple = tuple(string)
_tuple

('s', 't', 'r', 'i', 'n', 'g')

In [13]:
# strings are iterable.
for s in string:
    print(s)

s
t
r
i
n
g

In [15]:
nested_tuple = (1, 2, 3), (4, 5, 6)
nested_tuple

((1, 2, 3), (4, 5, 6))

In [17]:
nested_tuple[0]

(1, 2, 3)

Modifying mutable tuple elements

In [25]:
_tuple = tuple(["foo", [1, 2], True])
try:
    _tuple[2] = False  # cannot be modified
except:
    print("Tuple elements cannot be modified")

try:
    _tuple[1].append(3)  # cannot be modified
    print("Mutable tuple elements can be modified")
except:
    print("ERROR")

Tuple elements cannot be modified
Mutable tuple elements can be modified

Modifying tuples (extending)

In [28]:
(1, 2, 3) + (4, 5) + (6,)

(1, 2, 3, 4, 5, 6)

In [29]:
(1,2,3)*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

Unpacking variables

In [32]:
x,y,z=(1,2,3)

In [33]:
a,b,(c,d)=(1,2,(3,4))

In [36]:
print(a, b, c, d)

1 2 3 4

In [38]:
b, a = a, b
print(a, b)

1 2

Utilizing args and kwargs

In [1]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
rest

[3, 4, 5]

In [5]:
x=[1,2,3,None]+[7,8,(2,3)]
x=x*4
x

[1,
 2,
 3,
 None,
 7,
 8,
 (2, 3),
 1,
 2,
 3,
 None,
 7,
 8,
 (2, 3),
 1,
 2,
 3,
 None,
 7,
 8,
 (2, 3),
 1,
 2,
 3,
 None,
 7,
 8,
 (2, 3)]

In [10]:
d1={'a':'some_value','b':[1,2,3,4]}
d1[7]='an integer'

In [11]:
7 in d1

True

In [12]:
'some_value' in d1

False

In [27]:
tuples = zip(range(5), reversed(range(5)))
for a, b in tuples:
    print(a, b)
mapped=dict(zip(range(5),reversed(range(5))))
mapped

0 4
1 3
2 2
3 1
4 0

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [29]:
seq1 = range(10)
seq2 = reversed(range(10))
for idx, (a, b) in enumerate(zip(seq1, seq2)):
    print(idx, a, b)

0 0 9
1 1 8
2 2 7
3 3 6
4 4 5
5 5 4
6 6 3
7 7 2
8 8 1
9 9 0

In [31]:
strings=['a','b','as']
strings=[s.capitalize() for s in strings]
strings

['A', 'B', 'As']

In [33]:
strings=[s.upper() for s in strings]
strings

['A', 'B', 'AS']

In [43]:
names_of_interest=[]
all_data = ["Maria", "Natalia", "David"]
for name in all_data:
    enough_as = [name if name.count("a")>= 2 else '']
    print(enough_as)
    names_of_interest.extend(enough_as)
names_of_interest

['Maria']
['Natalia']
['']

['Maria', 'Natalia', '']